* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Press Start 2P', cursive;

	font-size: 62.5%;
}

body {
	color: rgb(209, 203, 193);
	background-color: rgb(38, 39, 38);
}

.header {
	height: 25rem;
	border-bottom: 3px solid rgb(71, 70, 70);
	position: relative;
}

.top {
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.between {
	font-size: 1.5rem;
}

.title {
	font-size: 4rem;
	text-align: center;
}

.number {
	text-align: center;
}

.btn {
	font-family: 'Press Start 2P', cursive;

	border: none;
	font-size: 2rem;
	background-color: rgb(45, 46, 46);
	color: rgb(209, 203, 193);
	padding: 2rem 3rem 2rem 3rem;
}

.number {
	font-size: 6rem;

	position: absolute;
	left: 50%;
	top: 25rem;
	transform: translate(0, -50%);
}
